.navbar-nav {
  margin-left: auto;
}

.container-fluid {
  padding: 3% 25%;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

h1 {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

h2 {
  line-height: 1.5;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Montserrat"
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

body {
  font-family: "Montserrat";
}

p {
  color: #8f8f8f;
}

.navbar {
  padding-bottom: 5rem;
}

.navbar-brand {
  font-weight: bold;
  font-size: 2.5rem;
  font-family: "ubuntu"
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.btn {
  margin: 5% 3% 5% 0;
}

.iphone6dog {
  width: 60%;
  transform: rotate(25deg);
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.testimonial-image {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

.press-logo {
  margin: 20px;
  width: 10%;
}

.carousel-item {
  padding: 1% 20%;
}

.pricing-column{
  padding: 3% 2%;
}

#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

#features {
  padding: 7% 15%;
}

#pricing{
  padding: 100px;
  text-align: center;
}
